*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Fjalla One', sans-serif;
}
.titulo{
    z-index: 1;
    position: absolute;
    height: 700px;
    width: 100%;
}
.carousels{
    overflow: hidden;
}
.titulo h1{
    font-size: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    top: 80px;
}
p{
    font-family: 'Roboto', sans-serif;
    /*font-weight:600;*/
}
.color-menu{
    background-color: #2e7d32;
    font-weight: 500;
}
.content2{
    background-color: #f5f5f5
}
.content3{
    background-color: #eeeeee;
}
.content4{
    background-color: #e0e0e0;
}
.img-movil{
    height: 100vh;
    width: 100%;
    background-image: url(../img/Coatepeque-movil.jpg);
    background-size: cover;
    
    display: flex;
    align-items: center;
    color: #333;
    justify-content: center;
}
.redes{
    font-size: 40px;
}
.contact ul{
    list-style: none;
}
/*Estilos de footer & Copyright*/
.color-gris{
    font-size: 14px;
    color: #F2F2F2;
    opacity: 0.3;
}
/*Hover de tarjetas index*/
.card{
    transition:all ease-out .2s;
}
.card:hover{
    transform: scale(1.05);
}
/* Efectos de Galeria*/
.member{
    transition:all ease-out .2s;
}
/* Efectos en nosotros(TEAM)*/
.member:hover{
    transform: scale(1.05);
}










